.app {
  background: #f2f2f2;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;

  .container {
    max-width: 1440px;
    margin: auto;
    padding: 46px 53px;

    @media print {
      padding-left: 0;
      padding-right: 0;
      max-width: none;
    }
  }

  dl {
    display: inline-block;
    margin-right: 36px;
    margin-top: 0;
    text-align: center;
    padding: 36px 39px 28px;

    dt {
      font-size: 18px;
      color: #3f3d56;
    }

    dd {
      margin: 0;
      margin-top: -7px;
      font-weight: bold;
      font-size: 52px;
      color: #00b51f;
    }
  }
}

.box {
  background-color: white;
  border-radius: 10px;
  padding: 28px 25px;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
