.btn {
  padding: 0.56em 1.39em;
  background: #00b51f;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  text-align: center;
  font: inherit;
  border: 0;
  appearance: none;
  cursor: pointer;

  &--secondary {
    border: 1px solid currentColor;
    color: #00b51f;
    background: transparent;
  }

  &-wider {
    padding: 0.56em 2.1em;
  }
}
