@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import "./buttons.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-size: 18px;
  color: #011317;

  @media print {
    font-size: 12px;
  }
}

body {
  margin: auto;
  max-width: 1440px;
  padding-bottom: 5em;
}

a {
  color: inherit;
  text-decoration: none;

  &[href] {
    cursor: pointer;
  }

  p &,
  li & {
    color: #00b51f;
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
  font-weight: inherit;
  line-height: 125%;
}

em {
  color: #00b51f;
  font-style: normal;
}

small {
  font-size: 14px;
}

input,
select {
  background: #ffffff;
  border: 1px solid #d0cde1;
  border-radius: 2px;
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  padding: 11px 25px;
  color: #3f3d56;
  width: 100%;

  &:invalid {
    border-color: red;
  }
}

select {
  padding: 11px 10px;
}

label {
  font-size: 18px;
  color: #3f3d56;
}

.noprint {
  @media print {
    display: none !important;
  }
}

.onlyprint {
  @media screen {
    display: none !important;
  }
}
