@import "./list.modules.scss";

.centeredContainer {
  display: flex;
  flex-direction: column;
  max-width: 824px;
  margin: auto;
  gap: 24px;
  font-size: 24px;

  h1 {
    margin-top: 0;
    margin-left: 79px;
  }

  :global(.btn) {
    align-self: start;
    font-size: 18px;
  }
}

.importLocationContainer {
  display: flex;
  flex-direction: column;
}

.importLocationList {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.importLocation {
  border: 1px solid;
  border-radius: 20px;
  height: 130px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: "center";
  &:hover {
    cursor: pointer;
  }
}

.disabledLocation {
  opacity: 0.2;
}