.fileinput {
  border: 2px dashed #5d5d5d;
  border-radius: 1.3em;
  position: relative;
  transition: background-color 0.4s;

  &::after {
    content: "Drop .csv file here";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    color: #5d5d5d;
    font-size: 1.4em;
  }

  &.hovering {
    background: #000;
  }
}

input[type="file"] {
  width: 100%;
  height: 20em;
  opacity: 0;
}
