table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 0 2.2em 0.1em 0.9em;
  font: inherit;
  font-weight: 500;
  vertical-align: bottom;
  text-align: left;

  &[colspan] {
    font-size: 0.7em;
    font-weight: normal;
    padding-bottom: 0;
    padding-left: 1.2em;
  }
}

thead {
  position: sticky;
  top: 0;
  background: #171c22;
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.5);

  > tr:first-child th {
    padding-top: 0.5em;
  }
}

td {
  padding: 0.6em 2.2em 0.6em 0.9em;
  background-color: rgba(0, 0, 0, 0.24);
  white-space: nowrap;

  tr:nth-child(2n) & {
    background-color: rgba(255, 155, 255, 0.05);
  }
}

.fab {
  position: fixed;
  bottom: 1em;
  right: calc(50% - 13em);
  background: #c0ffee;
  color: black;
  display: flex;
  width: 1.7em;
  height: 1.7em;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border-radius: 50%;
  text-decoration: none;
  padding-bottom: 0.1em;
  box-shadow: 0 0.15em 0.5em 0.1em black;
}
