form {
  margin-bottom: 2em;
}

label {
  display: block;
  position: relative;

  > :first-child {
    position: absolute;
    left: 0;
  }

  > :not(:first-child) {
    margin-left: 7em;
  }
}

fieldset {
  border: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5em;
  margin: 1em 0;
  box-shadow: 0 0.3em 1em 0.2em rgba(0, 0, 0, 0.2);
  padding: 1.2em 1.5em 1.3em;
}

button {
  appearance: none;
  border: 0;
  font: inherit;
  padding: 0.3em 0.5em;
}
